/* You can add global styles to this file, and also import other style files */

@import '~github-markdown-css/github-markdown.css';

body {
    padding: 10px 30px;
}

.anchor {
    visibility: hidden;
}

.anchor:hover {
    visibility: visible;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    visibility: visible;
}
